# Visual Studio files
.vs/
/bin/
/obj/
/*.user
/*.suo
/*.cache
/*.pdb
/*.dll
/*.exe
/*.log
/*.bin
/*.DS_Store

# Windows Forms Designer files
*.vsd
*.vsdx
*.sln.docstates

# WPF Designer files
*.xaml.cs
*.xaml.bin
*.xaml.g.cs

# NuGet packages
/packages/
*.nupkg
*.paket.references

# Build results
*.build.csproj
*.build.csproj.user